html {
  overflow: auto;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, consolas, BlinkMacSystemFont, PingFang SC, DengXian
    Microsoft Yahei, Segoe UI, Helvetica, Arial, sans-serif, Segoe UI Emoji
}
.dark-mode body
{
  background-color: #292a2d;
  color: #eee;
}

.light-mode body
{
  background-color: #eee;
  color: #292a2d;
}

.dark-mode .backco {
  background-color: #000;
}
.light-mode .backco {
  background-color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::selection {
  background-color: deeppink;
  color: #fff;
}